/* fonts */
#footer, footer, #navigation, nav, #navigation a:hover, #navigation a:focus, nav a:hover, nav a:focus, .related p { font-family: "Delius", "Verdana", veranda, sans-serif; }
header .title, h1, h2, h3, h4 { font-family: "Josefin Slab", "Georgia", times, serif; }
body, section, #smallcontent p, .navcen { font-family: "Raleway", helvetica, arial, sans-serif; }

/* colors */
input { background-color: #eef; }
input:read-only, input:-moz-read-only { background-color: #dcc; }

/* layout */

body { margin-top: 3em; background: #bfc url(siteback.png); color: #005; }
h1, h2, h3, h4, h5, h6, p { padding: 6px 0 4px 0; line-height: 1.1em; }
h1 { font-size: 2.2em; }
li { list-style-position: inside; }
dl { margin: 0em; }
#content, section { float: right; width: 77.5%; margin: 26px 0% 3em 12%; padding: 2px 2px 2px 53px; font-size: 1.2em; }
#smallcontent { padding: 3px; line-height: 1.1em; border: groove 3px #500; border-radius: 4px; color: #fff; background-color: #500; margin: 1em 20px 0 5px; clear: both;}
#smallcontent p { text-align: center; margin: 5px 1em 5px 1em; font-size: 1.15em; font-weight: bold; }
#smallcontent a { white-space: nowrap; }
#smallcontent p a, #smallcontent p a:link, .related a, .related a:link { color: #bfc; }
#smallcontent p a:hover, .related a:hover { color: #fff; }
#smallcontent p a:visited, .related a:visited { color: #ff0; }
#footer, footer { float: left; clear: left; width: 77%; padding: 2px; font-size: 0.75em; margin: 0px 17% 2em 48px; background-color: #fff; border-radius: 10px; }
#footer p, footer p { color: #500; padding: 12px; font-weight: bolder; }
#footer p img, footer p img { vertical-align: middle; }
#header, header { background: #0fc url('titleback.png') 25px 75px; color: #ff0; z-index: 4; width: 84.75%; text-align: center; position: fixed; top: 0px; left: 15%; padding: 4px; font-weight: bold; font-size: 1.1em; max-height: 2.2em; }
#header img, header img { position: absolute; border: 0px; right: 1.1%; top: 2.6em; }
#header div, header div { position: relative; top: 35%; left: 5%; float: left; font-size: 3em; padding-bottom: 15%; }
#header span.title, header span.title { font-size: 1.9em; position: relative; top: 0px; }
img.secheader { position: relative; left: 43%; -150px; border: 0px; margin: 1em 0 1em -150px; width: 300px; height: 150px; }
img.secbut { margin: 10px; width: 300px; height: 150px; border: 0px; }
a.secbut { height: 150px; }
a[href $='.pdf'] { padding-left: 20px; background: transparent url(ico/pdf.png) no-repeat; }
a[href $='.doc'] { padding-left: 20px; background: transparent url(ico/doc.png) no-repeat; }
a[href $='.mp3'] { padding-left: 20px; background: transparent url(ico/mp3.png) no-repeat; }
a[href $='.mid'] { padding-left: 20px; background: transparent url(ico/mid.png) no-repeat; }
a[href ^='http'] { padding-right: 20px; background: transparent url(ico/ext.png) no-repeat right; }
a.noext { background: none; padding-right: 0; }
.indexsecs { display: block; border: 0px; margin: auto; width: 640px; }
#navspacer { display: block; height: 25px; }
#navigation, nav { position: fixed; left: 0%; top: -10px; width: 15.25%; height: 800px; background: url('navback.png') no-repeat; color: #bfc; line-height: 1.2em; padding: 3.25em 3px 3px 3px; margin-right: -4px; z-index: 5; }
#navigation a, nav a { display: block; padding: 3px 7px 6px 24px; margin: 4px 4px 4px 9px; background: url('navbutback.png'); font-size: 1.1em; border: 2px outset #beaded; border-radius: 9px; text-align: left; }
#navigation a:link, nav a:link { color: #005; background-color: #bfc; }
#navigation a:visited, nav a:visited { color: #070; background-color: #bfc; background-position: 0px 50px; }
#navigation a:hover, #navigation a:focus, nav a:hover, nav a:focus { color: #ff0; background-color: #070; font-weight: bold; font-size: 1.0em; }
#navigation a:active, nav a:active { color: #fff; background-color: #500; border-style: inset; padding: 3px 7px 7px 17px; }
nav a.this, nav a.this:visited, nav a.this:hover, nav a.this:active, #navigation a.this, #navigation a.this:visited, #navigation a.this:hover, #navigation a.this:active { background-color: #bfc; color: #500; border-style: inset; padding: 5px 7px 5px 10px; margin: 0px 4px 5px 7px; }

nav a:after { content: attr(alt); display: none; z-index: 0; text-indent: 0; }
nav a:hover { z-index:10; position:relative; }
nav a:hover::after { position: absolute; z-index: 99; display:block; border: 2px solid #000; -moz-border-radius: 7px; border-radius: 7px; background: #ff0; color: #050; padding: 5px 7px; top: 1.25em; left: -30px; font-weight: bold; max-width: 98%; white-space: pre-line; }
/* nav[title ^='...']:hover::after { bottom: 1.25em; top: inherit; } */
nav[offset]:hover::after { left: attr(offset,em,6); }
nav a.this:hover::after { content: "You are here"; }

#contact { float: left; display: block; margin-left: 48px; }
#update { text-align: right; margin-right: 18%; }
#tlogo { width: 150px; height: 200px; valign: middle; border-width: 0px; padding-top: 0px; }
.hidden { display: none; }
.spacer { display: block; clear: both; height: 7em; }
.spacer100 { display: block; clear: both; height: 100%; }
.lnudge { position: relative; left: 5%;}
.d1 { position: absolute; top: 150px; left: 1px; margin-right: 2%; }
.intx {text-align: left; margin-bottom: 0.0000in; margin-top: 0.0000in; margin-right: 0.0000in; text-indent: 0.5000in;}
.tip {color: #300; cursor: help;}
.bookt { border-bottom: solid 1px; }
.msie { display: none; }
img.c { margin-left: auto; margin-right: auto; display: block; }
.c { text-align: center; }
.contentc { text-align: center; margin-right: 3%; }
.c50 { text-align: center; width: 50%; position: relative; left: 25%; }
.c75 { text-align: center; width: 75%; position: relative; left: 12.5%; }
.r, .whitespace .r { text-align: right; }
.rimg { padding: 0px; float: right; }
.rimg img { display: block; border: 2px solid #005; margin: 0 auto 1px auto; padding: 0px; -moz-border-radius: 7px; border-radius: 7px; }
.rimg p { font-size: 0.9em; text-align: center; margin 0px; padding: 0px; text-indent: 0px; }
.limg { padding: 0px; float: left; }
.limg img { display: block; border: 2px solid #005; margin: 0 auto 1px auto; padding: 0px; -moz-border-radius: 7px; border-radius: 7px; }
.limg p { font-size: 0.9em; text-align: center; margin 0px; padding: 0px; text-indent: 0px; }
.w75 { min-width: 75%; }
.box { margin: 2px 0px 2px 0px; border: 1px solid #aeaded; }
.bcadbeed { background-color: #adbeed; }
.cbox95 { text-align: center; margin: 2px 2.5% 2px 2.5%; border: 2px solid #32239f; padding: 2px; }
.cbox { text-align: left; margin-left: auto; margin-right: auto; display: block; }
.rightbox { float: right; width: 42%; padding-left: 1.5%; }


.named, .named:link, .named:visited, .named:hover, .named:focus, .named:active { height: 1em; width: 0px; display: block; position: relative; padding: 0 0 4.5em 0; margin: -120px 0 120px 0;  z-index: 1; background-color: #beaded; float: left; }
.containabs { position: relative; width: 100%; left: 0%; height: 16em; font-size: 0.90em; }
.tip:before { content: attr(title); display: none; z-index: 0; text-indent: 0; }
.tip:hover { z-index:10; position:relative; }
.tip:hover::before { position: absolute; z-index: 99; display:block; border: 2px solid #000; -moz-border-radius: 7px 28px; border-radius: 7px 28px; background: #beaded; color: #000; box-shadow: 5px 5px rgba(0,0,0,0.25); padding: 15px 8px; top: 1.25em; left: -60px; font-weight: bold; min-width: 340px; max-width: 540px; white-space: pre-line; }
.tip[title ^='...']:hover::before { bottom: 1.25em; top: inherit; }
.tip[offset]:hover::before { left: attr(offset,em,6); }
.button { padding: 3px; margin: 1px; background: url('navbutback.png'); font-size: 1em; border: 2px outset #aeb; border-radius: 7px; text-align: center; text-decoration: none; }


/* Table layout */
table, td, th { border: 1px solid #32239f; }
th, td { padding: 0.35em; }
table { width: 90%; left: 9%; border-collapse: collapse; }
tr:nth-child(even) {background-color: #f2f2f2}
th { font-weight: bold; }
td {  }
